@media screen and (min-width: 320px) and (max-width: 1199px) {
  .examples-section {
    display: none;
  }
}

.examples-section {
  padding-bottom: 94px;
}
.examples__list {
  display: flex;
}

.examples__item {
  position: relative;

  margin-right: 30px;
  width: 370px;
  height: 294px;

  &:last-child {
    margin-right: 0;
  }
}

.exemples__discription {
  position: absolute;
  bottom: 0;

  padding-top: 27px;
  width: 370px;
  height: 70px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
}
