.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-section {
  text-align: center;
}

.footer__social-link {
  margin-bottom: 60px;
}
.footer__social-call {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}
.social-list.footer {
  margin: 0;
}
.footer__social-link {
  display: block;
}

.social-list__link.footer {
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--accent-background-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer__social-link {
    margin-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-section {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer__social-link {
    margin-left: 70px;
    margin-bottom: 0;
  }
}
